@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base text-textPrimary font-sans;
  }

  section {
    @apply bg-section;
  }

  button {
    @apply bg-button text-black border border-buttonBorder;
  }

  button:hover {
    @apply bg-buttonHover;
  }
}
